*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --color-main-1: #333;
  --color-sec-1: #ddd;
  
  --side: 30rem;

  --trans: all .4s ease-in-out;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background-color: var(--color-main-1);
  font-weight: 300;
  transition: var(--trans);
}
.dark {
  background-color: var(--color-sec-1);
}

.container{
  margin: 2rem 2rem;
  background-color: var(--color-sec-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5.5rem);
  position: relative;
  transition: var(--trans);
  color: var(--color-main-1);
  border-radius: 0.5rem;
}
.darkcont{
  color: var(--color-sec-1);
  background-color: var(--color-main-1);
}

.box{
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--side);
  height: var(--side);
  padding: 5rem;
  font-size: calc(var(--side) - 10rem);
  border: 2.5rem solid var(--color-main-1);
  border-radius: 1rem;
  position: relative;
  transition: var(--trans);
  color: var(--color-main-1);
  margin-bottom: 5rem;
}
.darkbox{
  color: var(--color-sec-1);
  border: 2.5rem solid var(--color-sec-1);
}

.box span{
    font-size: calc((var(--side) - 10rem) / 5);
    position: absolute;
    right: .5rem;
    top: .5rem;
  }

  .list {
    font-size: 3rem;
    border-collapse: collapse;
  }

  td{
    padding: 0.5rem 5rem;
    border: none;
  }

  td:nth-child(odd){
    font-weight: bold;
  }

  tr{
    border-radius: 1rem;
    transition: transform 0.2s ease-out, box-shadow 0.1s;
  }
  tr:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem #888;
  }

  .icon {
    position: absolute;
    fill: var(--color-main-1);
    height: 5rem;
    width: 5rem;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    transition: var(--trans)
  }
  .icon-light-up {
    fill: var(--color-sec-1);
  }
  .transp {
    opacity: 0;
  }

  .icon-github {
    height: 4rem;
    width: 4rem;
    fill: #888;
    position: absolute;
    bottom: 2.5vh;
    right: 50%;
    transform: translateX(50%);
  }

  .container > *:not(:nth-child(3)):not(:nth-child(1)):not(:nth-child(2)){
    opacity: 0;
  }

  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 790px) {
    html {
      font-size: 50%;
    }
    .icon {
      top: 1rem;
      right: 50%;
      transform: translateX(50%);
      z-index: 1000;
      transition: var(--trans)
    }
    .box {
      margin-bottom: 10rem;
    }
  }
  @media only screen and (max-width: 550px) {
    html {
      font-size: 30%;
    }
    .container {
      border-radius: 5rem;
    }
  }